:root {
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --footer-hero-color: #2f303a;
  --primary-bg-color: #fff;
  --second-bg-color: #f5f4fa;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --border--hed--color: #ececec;
  --border--portfilio-color: #EEEEEE;
  --icon-color--: #AFB1B8;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
 
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;}

/*------header-------*/
.header {
  border-bottom: 1px var(--border--hed--color) solid;
}
.header__container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

}

/*-------logo-------*/
.logo {
color: var(--accent-color);
font-family: raleway, sans-serif;
font-size: 26px;
line-height: 1.2;
text-decoration: none;

}

.logo__studio {
  color: var(--primary-text-color);
}
.logo-studiof {
  color: var(--primary-bg-color);
}

.logo .logo-studiof {
display: inline-block;
margin-bottom: 20px;
}

/*------nav------*/

.site-nav {
  display: flex;
  margin-left: 93px;
 
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

 .site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current::after {
content: '';
position: absolute;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 2px;
}

.site-nav__link--current {
color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__icon {
margin-right: 10px;
fill: currentColor;
}

.auth-nav__link {
  color: var(--paragraph-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*------hero------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;
  text-align: center;
}
.container--hero {
min-height: 600px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-repeat: no-repeat;
background-position: center;
background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
background-color: var(--footer-hero-color);
}
.hero__title {
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0,06em;
  text-transform: uppercase;
}

/*------benefits------*/

.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-list__item {
 width: 270px; 
}

.benefits-list__item + .benefits-list__item {
margin-left: 30px;
}

.benefits-list__box {
width: 270px;
height: 120px;
display: flex;
align-self: center;
justify-content: center;
background-color: var(--second-bg-color);
margin-bottom: 30px;
border-radius: 4px;
}

.benefits-list__icon {
display: flex;
align-self: center;
justify-content: center;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-list__paragraph {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/*------Activity-------*/

.activity {
padding-bottom: 94px;
}

.activity__list {
display: flex;
}

.activity__item + .activity__item {
margin-left: 30px;

} 

.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.activity__list-text {
position: relative;
}


.activity__text-img {
position: absolute;
bottom: 4px;
width: 370px;
height: 70px;
padding-top: 27px;
padding-bottom: 27px;
background-color: rgba(47, 48, 58, 0.8);
color: var(--primary-bg-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
}

/*------team------*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-bg-color);
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team__list {
  display: flex;
  text-align: center;
}

.team__item {
width: 270px;
height: 428px;
background-color: var(--primary-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


}

.team__item:nth-child(n+2) {
  width: 270px;
  margin-left: 30px;
}

.team__member {
padding-top: 30px;
padding-bottom: 30px;
}

.team__list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__list-paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team__list-network {
display: flex;
align-self: center;
justify-content: center;
}

.team__network:nth-child(n+2) {
margin-left: 10px;
}

.team__network {
width: 44px;
height: 44px;
}

.team__network-titel {
width: 100%;
height: 100%;
display: flex;
align-self: center;
justify-content: center;
background-color: var(--primary-bg-color);
color: var(--icon-color--);
border-radius: 50%;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__network-titel:hover,
.team__network-titel:focus {
background-color: var(--accent-color);
color: var(--primary-bg-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
display: flex;
align-self: center;
justify-content: center;
fill: currentColor;
}


/*--------partners--------*/

.section-partners {
padding-top: 94px;
padding-bottom: 94px;
}

.section-partners__title {
margin-bottom: 50px;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.section-partners__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-partners__link {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: var(--icon-color--);
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-partners__link:hover,
.section-partners__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-partners__company {
  width: 170px;
  height: 92px;
  padding: 0;
  margin: 0;
  border: 1px solid var(--icon-color--);
  border-radius: 4px;
  align-self: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-partners__icon {
  fill: currentColor;
  align-items: center;
  justify-content: center;
}

.section-partners__company:not(:first-child) {
  margin-left: 30px;
}

.section-partners__company:hover,
.section-partners__company:focus {
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------footer------*/

.footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;}

.address {
display: flex;
flex-direction: column;
}

.address__street {
  margin-bottom: 9px;
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child)
{margin-bottom: 9px;
}

.address__contakts {
  color: var(--text-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__street:hover,
.address__street:focus,
.address__contakts:hover,
.address__contakts:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
margin-left: 70px;
}

.join__title {
margin-bottom: 20px;
color: var(--primary-bg-color);
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;}

.join__list {
display: flex;
align-self: center;
justify-content: center;
}

.join__network:nth-child(n+2) {
  margin-left: 10px;
}

.join__network-link {
display: flex;
align-self: center;
justify-content: center;
width: 44px;
height: 44px;
border-radius: 50%;
color: var(--primary-bg-color);
background-color: rgba(255, 255, 255, 0.1);
transition: cbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__network-link:hover,
.join__network-link:focus {
background-color:var(--accent-color);
cursor: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__network-icon {
display: flex;
align-self: center;
justify-content: center;
fill: currentColor;}


.subscription {
margin-left: auto;
}

.subscription__paragraph {
font-weight: 700;
margin-bottom: 20px;
color: var(--primary-bg-color);
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.subscription input {
appearance: none;
width: 358px;
height: 50px;
padding: 15px 0px 15px 16px;
margin-right: 12px;
color: var(--primary-bg-color);
background-color: var(--footer-hero-color);
border: 1px solid rgba(255, 255, 255, 0.3);
outline: rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}


.form-footer input::placeholder {
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.6);
}


/*------button------*/

.button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  border: 1px transparent;
}

.button.primary {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  
 
}
.button.secondary {
  padding: 6px 22px;
  min-height: 38px;
  background: var(--second-bg-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item + .portfolio__item {
margin-left: 8px;
}

.portfolio__button-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-menu {
display: flex;
width: 1200 px;
}

.secondary:hover,
.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-footer {
display: flex;
align-self: center;
justify-content: center;}

.button-icon {
margin-left: 10px;
}

/*-------portfolio------*/

.portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio__button-list {
display: flex;
justify-content: center;
}

.portfolio__list {
display: flex;
flex-wrap: wrap;
}

.portfolio__list-item {
width: 370px;
height: 404px;
margin-right: 30px;
margin-bottom: 30px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list-item:hover,
.portfolio__list-item:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list-item:nth-child(3n) {
margin-right: 0;
}

.portfolio__list-item:nth-last-child(-n +3) {
margin-bottom: 0;
}

.portfolio__foto {
margin-bottom: 0;
}

.portfolio__box {
position: relative;
overflow: hidden;
}

.portfolio__paragraph {
position: absolute;
top: 0;
left: 0;
transform: translateY(102%);
width: 370px;
height: 294px;
padding-top: 63px;
padding-left: 24px;
padding-right: 24px;
background-color: rgba(33, 150, 243, 0.9);
font-size: 18px;
line-height: 1.56;
color: var(--primary-bg-color);
pointer-events: none;
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);}

.portfolio__poster:hover .portfolio__paragraph {
transform: translate( 0%, 0%);
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);}

.portfolio__poster:focus .portfolio__paragraph {
transform: translate( 0%, 0%);
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__paragraphh {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__item-border {
  padding: 20px 24px;
  border-right: 1px solid var(--border--portfilio-color);
  border-bottom: 1px solid var(--border--portfilio-color);
  border-left: 1px solid var(--border--portfilio-color);
 
}


/*-------bakdrop------*/



.bakdrop {
position: fixed;
top: 0;
left: 0; 
width: 100%;
height: 100%;
background-color: rgba(47, 48, 58, 0.5);
opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bakdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.bakdrop.is-hidden .modal {
visibility: hidden;
transform: translate(-50%, -50%) scale(0.7);
opacity: 0;
transition: transform  200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal {
position: absolute;
top: 50%;
left: 50%;
min-width: 528px;
min-height: 581px;
padding: 40px;
background-color: var(--primary-bg-color);
transform: translate(-50%, -50%) scale(1);
opacity: 1;
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal__close {
position: absolute;
display: flex;
align-self: center;
justify-content: center;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
padding-top: 5px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: var(--primary-bg-color);
cursor: pointer;

}

.modal__close-black {
fill: var(--primary-text-color);
transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__close-black {
fill: var(--accent-color);
transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__paragraph {
font-weight: 700;
font-size: 20px;
text-align: center;
line-height: 1.15;
margin-bottom: 12px;
}

textarea {
resize: none;
width: 100%;
}

.modal__form-list {
display: block;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--paragraph-text-color);
outline: #eeeeee;
}

.modal__item {
position: relative;
margin-bottom: 10px;
cursor: pointer;
}

.modal__item input {
width: 100%;
height: 40px;
padding-top: 11px;
padding-bottom: 11px;
padding-left: 42px;
outline:var(--accent-color);
border: 1px solid;
border-color:  rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item textarea {
height: 120px;
padding-top: 12px;
padding-left: 16px;
outline:var(--accent-color);
border: 1px solid; 
border-color: rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.treaty {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--accent-color);
}

.modal__icon {
position: absolute;
bottom: 11px;
left: 12px;
fill: var(--primary-text-color);
transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal__item:hover .modal__icon,
.modal__item:hover input,
.modal__item:hover textarea,
.modal__item:focus .modal__icon,
.modal__item:focus input,
.modal__item:focus textarea 
 {
fill: var(--accent-color);
border-color: var(--accent-color);
transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label {
display: block;
display: flex;
align-self: center;
margin-left: 12px;
margin-top: 10px;
margin-bottom: 30px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--paragraph-text-color);
}

.modal__checkbox {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.modal__checkbox-icon {
display: flex;
align-self: center;
margin-right: 8.5px;
border: 2px solid; 
border-radius: 2px;
border-color: var(--primary-text-color);
fill: var(--primary-bg-color);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox-icon {
border-color: var(--accent-color);
background-color: var(--accent-color);
fill: var(--primary-bg-color);
transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit {
display: block;
margin-left: auto;
margin-right: auto;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
