.logo {
color: var(--accent-color);
font-family: $second-font-family;
font-size: 26px;
line-height: 1.2;
text-decoration: none;

}

.logo__studio {
  color: var(--primary-text-color);
}
.logo-studiof {
  color: var(--primary-bg-color);
}

.logo .logo-studiof {
display: inline-block;
margin-bottom: 20px;
}